@page "/tags/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Tag</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditTag" tag="tag" Target="tags/view" />

@code {
    [Parameter] public int id { get; set; }
    Tag? tag = new Tag();

    protected async override Task OnParametersSetAsync()
    {
        tag = await _client.GetFromJsonAsync<Tag>($"{Endpoints.TagsEndpoint}/{id}");
    }

    async Task EditTag()
    {
        await _client.PutAsJsonAsync($"{Endpoints.TagsEndpoint}/{id}", tag);
        _navManager.NavigateTo("/tags/view/");
    }
}
