@page "/tags/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@implements IDisposable
@inject HttpInterceptorService _interceptor

<h3>View</h3>

<FormComponent tag="tag" Disabled="true" Target="tags/view" />

@code {
    [Parameter] public int id { get; set; }
    Tag? tag = new Tag();

    protected async override Task OnParametersSetAsync()
    {
        _interceptor.MonitorEvent();
        tag = await _client.GetFromJsonAsync<Tag>($"{Endpoints.TagsEndpoint}/{id}");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}