@page "/delete"
@attribute [Authorize]

<h3 class="card-title">Admin Delete Page</h3>

<br />

<a href="/delete/games" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Delete Games
</a>

<br />
<br />

@code {

}