@page "/games/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime js
@implements IDisposable
@inject HttpInterceptorService _interceptor


<h3 class="card-title">Categories for @game?.Name</h3>




@if (Categories == null)
{
    <div class="alert alert-info">Loading Categories...</div>
}
else
{
    <table class="table table-responsive" id="categoriesTable">
        <thead>
            <tr>
                <th>Category Title</th>
                <th>Description</th>
                <th>Number of Posts</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Categories)
            {
                @if (@id == category.GameId)
                {
                    <tr>
                        <td>
                            <a href="/games/@id/@category.Id" class="btn btn-outline-dark">
                                <span></span>@category.Name
                            </a>
                        </td>
                        <td>@category.Description</td>
                        <td>@category.Posts.Count</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

<a href="/games" class="btn btn-outline-dark">
    <span></span>Back to List
</a>
@code {
    [Parameter] public int id { get; set; }

    [Inject]
    private IHttpAnonymousClientFactory httpAnonymousClientFactory { get; set; }

    private List<Category>? Categories;
    private IList<Game>? Games;
    private Game? game;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            _interceptor.MonitorEvent();
            Games = await _client.GetFromJsonAsync<List<Game>>($"{Endpoints.GamesEndpoint}");
            game = await _client.GetFromJsonAsync<Game>($"{Endpoints.GamesEndpoint}/{id}");
            Categories = await _client.GetFromJsonAsync<List<Category>>($"{Endpoints.CategoriesEndpoint}");
        }
        catch
        {
            _interceptor.MonitorEvent();
            Games = await httpAnonymousClientFactory.HttpClient.GetFromJsonAsync<List<Game>>($"{Endpoints.GamesEndpoint}");
            game = await httpAnonymousClientFactory.HttpClient.GetFromJsonAsync<Game>($"{Endpoints.GamesEndpoint}/{id}");
            Categories = await httpAnonymousClientFactory.HttpClient.GetFromJsonAsync<List<Category>>($"{Endpoints.CategoriesEndpoint}");
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#categoriesTable");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
        js.InvokeVoidAsync("DataTablesDispose", "#categoriesTable");
    }
}