@page "/posttags/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@implements IDisposable
@inject HttpInterceptorService _interceptor
<h3>Edit Post Tag</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditPostTag" postTag="postTag" Target="posttags/view" />

@code {
    [Parameter] public int id { get; set; }
    PostTag? postTag = new PostTag();

    protected async override Task OnParametersSetAsync()
    {
        _interceptor.MonitorEvent();
        postTag = await _client.GetFromJsonAsync<PostTag>($"{Endpoints.PostTagsEndpoint}/{id}");
    }

    async Task EditPostTag()
    {
        await _client.PutAsJsonAsync($"{Endpoints.PostTagsEndpoint}/{id}", postTag);
        _navManager.NavigateTo("/posts/view/");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}