@page "/posttags/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@implements IDisposable
@inject HttpInterceptorService _interceptor

<h3>View</h3>


<FormComponent postTag="postTag" Disabled="true" Target="posttags/view" />


@code {
    [Parameter] public int id { get; set; }
    PostTag? postTag = new PostTag();

    protected async override Task OnParametersSetAsync()
    {
        _interceptor.MonitorEvent();
        postTag = await _client.GetFromJsonAsync<PostTag>($"{Endpoints.PostTagsEndpoint}/{id}");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}