@page "/games/{gameid:int}/{catid:int}"
@inject HttpClient _client
@inject IJSRuntime js


<br />

<br />

@if (Posts == null)
{
    <div class="alert alert-info">Loading Posts...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Post Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Posts)
            {
                <tr>
                    <td>@post.Title</td>
                    <td>@post.Content</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<Post>? Posts;
    [Parameter] public int catid { get; set; }
    [Parameter] public int gameid { get; set; }

    private IList<Game>? Games;
    private IList<Category>? Categories;

    protected async override Task OnInitializedAsync()
    {
        Posts = await _client.GetFromJsonAsync<List<Post>>($"{Endpoints.PostsEndpoint}");
        Games = await _client.GetFromJsonAsync<List<Game>>($"{Endpoints.GamesEndpoint}");
        Categories = await _client.GetFromJsonAsync<List<Category>>($"{Endpoints.CategoriesEndpoint}");
    }




}

