@page "/games/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@implements IDisposable
@inject HttpInterceptorService _interceptor

<h3>View</h3>

<FormComponent game="game" Disabled="true" Target="games/view" />

@code {
    [Parameter] public int id { get; set; }
    Game? game = new Game();

    protected async override Task OnParametersSetAsync()
    {
        _interceptor.MonitorEvent();
        game = await _client.GetFromJsonAsync<Game>($"{Endpoints.GamesEndpoint}/{id}");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}