@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <span>Logged In</span>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="User">
    <Authorized>
        <span>Logged In User</span>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Admin">
    <Authorized>
        <span>Logged In Admin</span>
    </Authorized>
</AuthorizeView>

<SurveyPrompt Title="How is Blazor working for you?" />
