@page "/create"
@attribute [Authorize]

<h3 class="card-title">Admin Create Page</h3>

<br />

<a href="/create/games" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Game
</a>

<br />
<br />

<a href="/create/categories" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Category
</a>

<br />
<br />

<a href="/create/posts" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Post
</a>

<br />
<br />

<a href="/create/tags" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Tag
</a>

<br />
<br />

<a href="/create/posttags" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Add Tag to a Post
</a>

<br />
<br />

<a href="/create/images" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Add Image to a Post
</a>

@code {

}
