﻿body {

    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #ffffff;
    padding: 20px;
    color: #000000;
}

    #header h1 {
        text-align: center;
        margin: 10px 0;
    }

    #header h2 {
        text-align: center;
        margin-top: 5px;
        font-size: 18px;
    }


#popularLink {
    text-align: center;
    margin-top: 30px;
}

#featureSection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.featureBox {
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    width: 300px;
    margin-bottom: 20px;
}



    .featureBox h4 {
        margin: 10px 0;
        font-size: 20px;
    }

    .featureBox p {
        font-size: 14px;
        color: #fff;
    }
